<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <img alt="" src={{nebu.img}} routerLink="/starwars"/>
    <br><br>
  </div>
  <ion-card class="animated-card">
    <ion-card-header>
      <ion-card-title>Bienvenido, {{ usuario }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-footer> <!--footer inicio-->
  <ion-toolbar class="ion-text-center">
    <ion-icon name="logo-twitter"></ion-icon>
    <ion-icon name="logo-instagram"></ion-icon>
    <ion-icon name="logo-facebook"></ion-icon>
    <ion-icon name="logo-tiktok"></ion-icon>
  </ion-toolbar>
</ion-footer><!--footer fin-->
