#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-header{
    background-color: white;
  }
  
  
  
  ion-title{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-align: center;
    }
    
    ion-content{ 
      --ion-background-color:#111D12; 
    }
    
    ion-icon{
      zoom: 1.8
      
    }
    
    ion-card{
      background-color: rgb(14, 153, 158);
      color: white;
      text-align: center;
    }
    
    ion-card-title{
      color: white;
    }
    on-card-subtitle{
      color: white;
      font-size: 42px;
    }
    
    ion-input{
      background-color:  rgb(14, 153, 158);
      border-radius: 8px;
      color: white;
    }
  
    div{
      text-align: center;
    }
  
    ion-button{
    color: white;
    border-color: aquamarine;
  }

  .animated-card {
    transition: transform 0.9s ease-in-out;
  }
  
  .animated-card:hover {
    transform: scale(2.05);
  }
  img{
    border-radius: 8px;
  }